{% comment %} Translations {% endcomment %}
{% assign placeholder_t = 'layout.footer.newsletter_placeholder' | t %}
{% assign button_t = 'layout.footer.newsletter_button' | t %}
{% assign shopify_disclaimer_t = 'shopify.online_store.spam_detection.disclaimer_html' | t %}

{% if settings.popup--enabled %}
  <div class="popup--root">
    {% if settings.popup--newsletter--heading != blank %}
      <div class="popup--heading" data-item="block-heading">
        {{ settings.popup--newsletter--heading }}
      </div>
    {% endif %}

    {% if settings.popup--newsletter--description != blank %}
      <div class="popup--description">
        {{ settings.popup--newsletter--description }}
      </div>
    {% endif %}

    {% form 'customer' %}
      <input type="hidden" name="contact[tags]" value="newsletter" />
      <input type="hidden" name="contact[first_name]" value="Newsletter" />
      <input type="hidden" name="contact[last_name]" value="Subscriber" />
      <label for="contact[email]" data-item='hidden-text'>
        {{ placeholder_t }}
      </label>
      <input
        class="small"
        type="email"
        placeholder="{{ placeholder_t }}"
        name="contact[email]"
        id="contact[email]"
      />
    <div data-item='button'>
      <button type="submit" value="{{ button_t }}">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" fill="{{ settings.color--footer }}">
          <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
        </svg>
      </button>
    </div>

      {% if form.posted_successfully? or form.errors %}
        <script>window.location.hash = '#feedback-bar--newsletter';</script>
      {% endif %}

      <div data-item="hidden-text">
        {% comment %} remove the below line to display reCAPTCHA badge {% endcomment %}
        {{ shopify_disclaimer_t }}
      </div>
    {% endform %}
  </div>
{% endif %}

