<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
        <meta name="google-site-verification" content="0hvKsJi_bgDX536cTzL_JkP8qLrkScnDAWFZq0jzl_c" />
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-THS2RD5');</script>
<!-- End Google Tag Manager -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-195391790-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-195391790-1');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<meta name="yandex-verification" content="52ed9c43839237a7" />
    <!-- Blockshop Theme - Version 6.6.0 by Troop Themes - https://troopthemes.com/ -->
<meta name="ahrefs-site-verification" content="ce8d74d2a1a6b5f46d5dd7d4248801c49c5457852cdfc2fac3ef55cbe0287c94">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

    <link rel="preload" href="{{ 'theme--critical.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'theme--async.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'lazysizes.min.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'theme.min.js' | asset_url }}" as="script">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    

    {%- if canonical_url != blank  -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x' }}" type="image/png">
      <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x' }}">
    {% endif %}

    {% render 'framework--social-meta-tags' %}

    {% if template == 'index' %}
      <title>{{ page_title }}</title>
    {% elsif template == 'password' %}
      <title>{{ shop.name }}</title>
    {% else %}
      <title>{{ page_title }} | {{ shop.name }}</title>
    {% endif %}

    {% render 'framework--css-variables' %}
    {% render 'partial--css-variables' %}
    {% render 'partial--js-variables' %}

    <script>
      function onLoadStylesheet() {
        var link = document.querySelector('link[href="' + theme.assets.stylesheet + '"]');
        link.loaded = true;
        link.dispatchEvent(new Event('load'));
      }
    </script>

    <link href="{{ 'theme--critical.css' | asset_url }}" rel="stylesheet" media="all"/>
    
    <link
    href="{{ 'theme--async.css' | asset_url }}"
    rel="stylesheet"
    media="print"
    onload="this.media='all';onLoadStylesheet()"
    >
    
    <link href="{{ 'custom.css' | asset_url }}" rel="stylesheet"/>
    <style>{% render 'custom-styles' %}</style>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
    <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
    
    {% if template contains 'customers' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
    {% endif %}
    
    <script>
      $(document).ready(function () {
 
       var checkExistTime = setInterval(function () {
        console.log('popup interval')
        var $popUpClose = $('.popup-modal-close');
        var $popUp = $('.popup-modal');
 
       if($popUp.hasClass('completed')) {
         window.setTimeout(function () {
           console.log('popup completed')
         $popUpClose.appendTo( $('.popup-modal') );
         $popUpClose.css('opacity', 1);
       }, 1000);
       clearInterval(checkExistTime);
       }
       });
     });
     </script>

  {{ content_for_header }}
    <script
    src="https://js.afterpay.com/afterpay-1.x.js"
    data-min="1.00"
    data-max="2000.00"
    async 
></script>

  </head>

  <body
    class="page-{{ page_title | handle }} template-{{ template | split: '.' | first | remove: '/' | remove: '_' }}"
    data-theme-id="606"
    data-theme-name="Blockshop"
    data-theme-version="6.6.0"
  >
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THS2RD5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% unless template contains 'password' %}
      <a data-item="a11y-button" href='#main-content'>
        {{ 'general.skip_link' | t }}
      </a>
    {% endunless %}

    <div
      class="off-canvas--viewport"
      data-js-class="OffCanvas"
      data-off-canvas--state="closed"
    >
      <div class="off-canvas--overlay"></div>
      <div class="off-canvas--close" aria-label="{{ 'general.close' | t }}">
        {% render 'framework--icons', icon: 'cross' %}
      </div>

      <div class="off-canvas--left-sidebar">
        <div class="off-canvas--focus-trigger" tabindex="0"></div>
        {% render 'partial--mobile-nav' %}
        <div class="off-canvas--focus-trigger" tabindex="0"></div>
      </div>

      <div class="off-canvas--right-sidebar" data-active="cart">
        <div class="off-canvas--focus-trigger" tabindex="0"></div>
        <div class="off-canvas--container" data-view="pickup"></div>

        {% if settings.cart--type == 'drawer' %}
          <div class="off-canvas--container" data-view="cart">
            {% render 'framework--cart', view: 'mobile' %}
          </div>
        {% endif %}

        <div class="off-canvas--focus-trigger" tabindex="0"></div>
      </div>

      <div class="off-canvas--main-content">
        {% section 'announcement' %}
        {% section 'header' %}

        <section class="layout--main-content {% unless template.name == 'index' or page.template_suffix == 'impact' %} limit-width{% endunless %}" id="main-content">
          {{ content_for_layout }}
        </section>

        {% section 'framework--footer' %}

        {% unless template == 'password' %}
          <div class="popup-modal-close" aria-label="{{ 'general.close' | t }}">
            {% render 'framework--icons', icon: 'cross' %}
          </div>
          <div class="popup-modal-mask"></div>
          <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        {% endunless %}
      </div>

      {% render 'framework--feedback-bar' %}
      {% render 'partial--popup' %}

    </div>

    {% render 'framework--search', view: 'modal' %}
    {% render 'framework--modal' %}
    {% render "afterpay" %}

   {% include 'smile-initializer' %}

</body>
</html>


