{% comment %} Variables {% endcomment %}
{% assign collection = collections[section.settings.collection_featured] %}

<div class="product-collection product-collection--{{ section.id }}">
  <div class="columns">
    {% if section.settings.heading != blank %}
    <h2 class="heading" data-item="section-heading">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.description != blank %}
    <div class="description">
      <p>{{ section.settings.description }}</p>
    </div>
    {% endif %}
    {% if section.settings.button_url != blank and section.settings.button_text != blank %}
    <a href="{{ section.settings.button_url }}" class="description_button">{{ section.settings.button_text }}</a>
    {% endif %}
  </div>

  <div class="content-products row {% if section.settings.image_align == 'right' %}reverse{% endif %}">

    <div class="column-image">
      {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}"
        class="image-desktop {% if section.settings.image_mobile != blank %}mobile-exists{% endif %}">

        {% if section.settings.image_mobile != blank %}
          <img src="{{ section.settings.image_mobile | img_url: '500x' }}" alt="{{ section.settings.image_mobile.alt }}"
          class="image-mobile">
        {% endif %}
      {% endif %}
    </div>

    <div class="column-products">
      <div class="column">
        {% if collection.products.size and collection.products.size > 0 %}
        {% for product in collection.products limit: 6%}
        {%
        render 'framework--product--item',
        product: product
        %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  .product-collection--{{ section.id }} .product--details{
    background: {{ section.settings.color_product }};
    color: {{ section.settings.color_text }};
  }
</style>

{% if section.settings.mobile_height %}
  <style>
    @media screen and (max-width: 767px){
      .product-collection--{{ section.id }} h3.product--title{
      min-height: 55px;
      }
    }
  </style>
{% else %}
  <style>
    @media screen and (max-width: 767px){
      .product-collection--{{ section.id }} h3.product--title{
      min-height: inherit;
      }
    }
  </style>
{% endif %}

{% if section.settings.tablet_height %}
  <style>
    @media screen and (min-width: 768px) and (max-width: 1400px){
      .product-collection--{{ section.id }} h3.product--title{
      min-height: 55px;
      }
    }
  </style>
{% else %}
  <style>
    @media screen and (min-width: 768px) and (max-width: 1400px){
      .product-collection--{{ section.id }} h3.product--title{
      min-height: inherit;
      }
    }
  </style>
{% endif %}

{% if section.settings.desktop_height %}
  <style>
    @media screen and (min-width: 1401px){
      .product-collection--{{ section.id }} h3.product--title{
      min-height: 55px;
      }
    }
  </style>
{% else %}
  <style>
    @media screen and (min-width: 1401px){
      .product-collection--{{ section.id }} h3.product--title{
      min-height: inherit;
      }
    }
  </style>
{% endif %}


{% schema %}
{
  "name": "Featured collection",
  "class": "featured-content--root limit-width",
  "settings": [
    {
        "type": "header",
        "content": "Text"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Skin first"
    },
    {
        "type": "richtext",
        "id": "description",
        "label": "Description"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "URL"
    },
    {
        "type": "header",
        "content": "Collection"
    },
    {
      "type": "collection",
      "id": "collection_featured",
      "label": "Choose collection"
    },
    {
        "type": "header",
        "content": "Images"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image desktop"
    },
    {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image mobile"
    },
    {
        "type": "radio",
        "id": "image_align",
        "label": "Image alignment",
        "default": "left",
        "options": [
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "right",
                "label": "Right"
            }
        ]
    },
    {
        "type": "header",
        "content": "Color"
    },
    {
        "type": "color",
        "id": "color_product",
        "label": "Product card",
        "default": "#eeeeee"
    },
    {
        "type": "color",
        "id": "color_text",
        "label": "Product text",
        "default": "#000"
    },
    {
      "type": "header",
      "content": "Set title 2 lines"
    },
    {
      "type": "checkbox",
      "id": "mobile_height",
      "label": "Mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tablet_height",
      "label": "Tablet",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "desktop_height",
      "label": "Desktop",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Collection with image",
      "category": "Collection"
    }
  ]
}
{% endschema %}
