<div class="account-tabs">
  <div class="tab">
    <h4 data-item="block-heading">{{ customer.name }}</h4>
    <a class="tablinks tablinks--address" href="/account/addresses">{{ 'customer.account.page_title' | t }}</a>
    <a class="tablinks tablinks--account"  href="/account">Order History</a>
    <button class="tablinks">{{ 'customer.account.logout' | t | customer_logout_link }}</button>
  </div>


  <div id="Order">
    <h1 data-item="section-heading">
      {{ 'customer.account.page_title' | t }}
    </h1>

    {% paginate customer.orders by 20 %}
    <div class="customer--root">
      <div class="account--orders">
        <h4 data-item="block-heading">{{ 'customer.account.orders' | t }}</h4>
        {% if customer.orders.size != 0 %}
        <table class="account--orders-table responsive">
          <thead data-item="accent-text">
            <tr>
              <th>{{ 'customer.account.order' | t }}</th>
              <th>{{ 'customer.account.date' | t }}</th>
              <th>{{ 'customer.account.payment_status' | t }}</th>
              <th>{{ 'customer.account.fulfillment_status' | t }}</th>
              <th>{{ 'customer.account.total' | t }}</th>
            </tr>
          </thead>
          <tbody data-item="paragraph">
            {% for order in customer.orders %}
            <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
              <td>{{ order.name | link_to: order.customer_url }}</td>
              <td>
                <span class="note">{{ order.created_at | time_tag: format: 'date' }}</span>
              </td>
              <td><span class="status_{{ order.financial_status }}">
                  {% assign trans_paid  = 'customer.order.paid' | t %}
                  {% assign trans_pending = 'customer.order.pending' | t %}
                  {% assign trans_authorized = 'customer.order.authorized' | t %}
                  {% assign trans_abandoned = 'customer.order.abandoned' | t %}
                  {% assign trans_refunded = 'customer.order.refunded' | t %}
                  {% assign trans_voided = 'customer.order.voided' | t %}
                  {{ order.financial_status | replace: 'paid', trans_paid | replace: 'pending', trans_pending | replace: 'authorized', trans_authorized | replace: 'abandoned', trans_abandoned | replace: 'refunded', trans_refunded | replace: 'voided', trans_voided }}</span>
              </td>
              <td><span class="status_{{ order.fulfillment_status }}">
                  {% assign trans_fulfilled = 'customer.order.fulfilled' | t %}
                  {% assign trans_unfulfilled = 'customer.order.unfulfilled' | t %}
                  {% assign trans_partial = 'customer.order.unfulfilled' | t %}
                  {{ order.fulfillment_status | replace: 'unfulfilled', trans_unfulfilled | replace: 'fulfilled',  trans_fulfilled | replace: 'partial', trans_partial }}</span>
              </td>
              <td class="money">
                {{ order.total_price | money_with_currency }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% else %}
        <p data-item="paragraph">{{ 'customer.account.no_orders' | t }}</p>
        {% endif %}

      </div>

      {% if paginate.pages > 1 %}
      <div class="account--pagination">
        {% render 'framework--pagination', paginate: paginate %}
      </div>
      {% endif %}
    </div>
    {% endpaginate %}

  </div>
</div>
