{% comment %} Variables {% endcomment %}
{% capture general_settings %}
  {{ settings.color--alternative }}
  {{ settings.color--accent }}
{% endcapture %}

<link href="https://fonts.googleapis.com/css2?family={{ section.settings.google_font }}:wght@300;400;700;900&display=swap" rel="stylesheet">

{% assign show_section = true %}
{% if section.settings.show_section == false and section.settings.image == blank%}
{% assign show_section = false %}
{% endif %}

{% assign header_text_exists = true %}
{% if section.settings.title == blank and section.settings.subtitle == blank %}
  {% assign header_text_exists = false %}
{% endif %}

{% assign color_brightness = bg_color | color_brightness %}
{% assign dark_background = false %}
{% if color_brightness < 200 %}
  {% assign dark_background = true %}
{% endif %}

{% assign text_exists = true %}
{% if section.settings.title == blank and section.settings.description == blank %}
  {% assign text_exists = false %}
{% endif %}

{% assign cover_link = false %}
{% if section.settings.link-text == blank and section.settings.link-url != blank %}
  {% assign cover_link = true %}
{% endif %}

{% if show_section %}
{% comment %} View {% endcomment %}
{% if section.settings.heading != blank %}
<div
class="featured-text--root"
data-container="section"
>
  <div class="featured-text--block" data-container="block">
      <h2 class="featured-text--heading text-center" data-item="section-heading">{{ section.settings.heading | escape }}</h2>
    </div>
  </div>
{% endif %}

{% comment %} View {% endcomment %}
<div
  class="featured-content--root featured-content--root--{{ section.id }}"
  style="{% render 'framework--background-colors', bg_color: section.settings.background-color %}"
  data-section-id="{{ section.id }}"
  data-full-width="{{ section.settings.full-width }}"
  data-dark-background="{{ dark_background }}"
  data-overlap="{{ section.settings.overlap }}"
  data-transparent-overlap="{{ section.settings.transparent-overlap }}"
  data-text-exists="{{ text_exists }}"
  data-text-position="{{ section.settings.text-position }}"
  data-alternative-color="{{ section.settings.alternative-color }}"
  data-text-width="{{ section.settings.text-width }}"
> 
  {% if cover_link %}<a href="{{ section.settings.link-url }}">{% endif %}
  <div class="featured-content--container">
    {% if section.settings.image != blank%}
    <div class="featured-content--image">
        {%
          render "framework--image",
          image: section.settings.image,
          full_width: true
        %}
      </div>
    {% endif %}

    {% if
      section.settings.title != blank or
      section.settings.description != blank or
      section.settings.link-text != blank
    %}
      <div class="featured-content--text featured-content--text--{{ section.settings.text-position }} {% if section.settings.slider_title %}featured-content--slider-text{% endif %}">
        <div class="featured-content--text-container {% if section.settings.slider_title %}featured-content--slider-title{% endif %}">
          {% if section.settings.slider_title and section.settings.title != blank %}<div class="group-slider">{% endif %}
          {% if section.settings.title != blank %}
            <h2 class="featured-content--title" data-item="section-heading">
              {{ section.settings.title }}
            </h2>
          {% endif %}

          {% if section.settings.slider_title and section.settings.title != blank %}
              <h2 class="featured-content--title" data-item="section-heading">
                {{ section.settings.title }}
              </h2>
            {% endif %}

            {% if section.settings.slider_title and section.settings.title != blank %}
            <h2 class="featured-content--title" data-item="section-heading">
              {{ section.settings.title }}
            </h2>
          {% endif %}
          {% if section.settings.slider_title and section.settings.title != blank %}</div>{% endif %}

          {% if section.settings.description != blank %}
            <div class="featured-content--description" data-item="rte-content">
              {{ section.settings.description }}
            </div>
          {% endif %}

          {% if section.settings.link-text != blank %}
            <div class="featured-content--link" data-item="block-link">
              <a href="{{ section.settings.link-url }}">
                {{ section.settings.link-text }}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    </div>
  {% if cover_link %}</a>{% endif %}

</div>
{% endif %}


{% style %}

.featured-content--root--{{ section.id }} .featured-content--title{
  font-family: '{{ section.settings.google_font }}';
  font-weight: {{ section.settings.weight_title }};
}

@media (max-width: 768px){
  .featured-content--root--{{ section.id }} .featured-content--title{
    color: {{ section.settings.color_mobile }};
    font-size: calc({{ section.settings.font_size_title }}px / 4);
  }
}

@media (min-width: 767px){
  .featured-content--root--{{ section.id }} .featured-content--title{
    color: {{ section.settings.color_desktop }};
    font-size: {{ section.settings.font_size_title }}px;
  }
}

.featured-content--root--{{ section.id }} .featured-content--slider-title .group-slider{
  -moz-animation: my-animation {{ section.settings.seconds }}s linear infinite;
  -webkit-animation: my-animation {{ section.settings.seconds }}s linear infinite;
  animation: my-animation {{ section.settings.seconds }}s linear infinite;
}
{% endstyle %}

{% schema %}
{
  "name": "Image with Text",
  "class": "limit-width",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading section"
    },
   {
     "type": "checkbox",
     "id": "show_section",
     "label": "Show section when title is empty",
     "default": true
   },
    {
      "type": "header",
      "content": "Layout and Color"
    },
    {
      "id": "full-width",
      "label": "Full width",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light grey", "value": "light" },
        { "label": "Dark", "value": "dark" },
        { "label": "Accent", "value": "accent" }
      ],
      "default": "light"
    },
    {
      "id": "text-position",
      "label": "Text Position",
      "type": "select",
      "options": [
        { "label": "Top", "value": "top" },
        { "label": "Bottom", "value": "bottom" },
        { "label": "Left", "value": "left" },
        { "label": "Center", "value": "center" },
        { "label": "Right", "value": "right" }
      ],
      "default": "left"
    },
    {
      "id": "text-width",
      "label": "Text width",
      "type": "radio",
      "options": [
        { "value": "small", "label": "Small"},
        { "value": "large", "label": "Large"}
      ],
      "default": "large"
    },
    {
      "id": "overlap",
      "label": "Overlap text",
      "type": "checkbox",
      "default": true,
      "info": "Not applicable for centered text"
    },
    {
      "id": "transparent-overlap",
      "label": "Transparent text background",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "alternative-color",
      "label": "Use alternative text color",
      "type": "checkbox",
      "default": false,
      "info": "This can found under theme settings below."
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "range",
      "id": "font_size_title",
      "label": "Font size",
      "unit": "px",
      "min": 20,
      "max": 200,
      "step": 10,
      "default": 20
    },
    {
      "type": "text",
      "id": "google_font",
      "label": "Google Font"
    },
    {
      "type": "select",
      "id": "weight_title",
      "label": "Weight",
      "default": "400",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_desktop",
      "label": "Color [ Desktop ]"
    },
    {
      "type": "color",
      "id": "color_mobile",
      "label": "Color [ Mobile ]"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Text",
      "default": "<p>Use a combination of image and text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store</p>"
    },
    {
      "type": "url",
      "id": "link-url",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link-text",
      "label": "Link text"
    },
    {
      "type": "header",
      "content": "Scroll title"
    },
    {
      "type": "checkbox",
      "id": "slider_title",
      "label": "Scroll title",
      "default": false
    },
    {
      "type": "range",
      "id": "seconds",
      "label": "Scroll title time",
      "unit": "sec",
      "min": 30,
      "max": 120,
      "step": 5,
      "default": 90
    }
  ],
  "presets": [
    {
      "name": "Image with Text",
      "category": "Image"
    }
  ]
}
{% endschema %}